@font-face {
    font-family: 'bn_wolfstarrounded';
    src: url("/font/bnwolfstar-rounded-webfont.woff2") format('woff2'),
         url("/font/bnwolfstar-rounded-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: bn_wolfstarrounded;
    color: #5c119e;
    background-color: #c586fc;
}
.headline {
    align-content: center;
    font-size: xx-large;
}