@font-face {
    font-family: 'bn_wolfstarrounded';
    src: url("/font/bnwolfstar-rounded-webfont.woff2") format('woff2'),
         url("/font/bnwolfstar-rounded-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: bn_wolfstarrounded;
    color: #966548;
    background-color: #ADEBB3;
}
.header:hover{
    color: rgb(237, 255, 249);
}
.Headline {
    align-content: center;
    font-size: xx-large;
}
head {
    font-size: xx-large;
}

.header {
    display: flex;
}

.home {
    margin-left: 100px;
}

.socials {
    margin-left: 25px;
}

.pictures {
    margin-left: 25px;
}

.projects {
    margin-left: 25px;
}

.slams {
    margin-left: 25px;
}